<div>
  <div class="container">
    <div style="margin: 0 auto;max-width: 500px;padding: 15px;">
      <h1>Welcome {{user.name}}</h1>
      <button ng-click="addEvent()" class="btn btn-lg btn-primary btn-block">Add event</button>
      <div ng-repeat="x in events">
	<div class="panel panel-default">
	  <div class="panel-heading">
	      <h4>{{x.name}}</h4> 
	  </div>
	  <div class="panel-body">
	      <pre>{{x.description}}</pre>
	  </div>
	  <div class="panel-footer">
	    <button ng-click="addPerson($index)" class="btn btn-primary btn-block">Invite person</button>
	    <div ng-show="id==$index" style="margin:15px;">
	      <input ng-model="emails[$index]" class="form-control" type="email" placeholder="Email address">
	      <button ng-click="postInvite($index)" class="btn btn-success btn-block">Invite</button>
	    </div>
	    <button ng-click="showPerson($index)" class="btn btn-primary btn-block">View list of invites</button>
	    <div ng-show="showid==$index">
	      <ul class="list-group">
		<div ng-repeat="y in invites[index]">
		  <li class="list-group-item">{{y.name}}</li>
		</div>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      <div ng-include="'/templates/logoutForm.htm'"></div>
    </div>
  </div>
</div>
